<h1>GARP - Shared Secret Reset</h1>

<p>
  To set your shared secret click the URL below.
</p>
<p>
  <a href="<%= edit_shared_secret_reset_url(@user.reset_token) %>"><%= edit_shared_secret_reset_url(@user.reset_token) %></a>
</p>
<p>
    If you did not request this ignore this email and your password will stay as it is.
</p>